:root {
  --clr-primary: hsla(230, 74%, 30%, 1);

  --ff-primary: "DM Sans", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);

    --fs-nav: var(--fs-300);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}


html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-400);
}

p:not([class]) {
  opacity: 0.7;
  max-width: 32ch;
}

p[data-width="wide"] {
  max-width: 42ch;
}

/* button */

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 0.3125rem;
  padding: 1.25em 2.5em;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  line-height: 1;
  color: white;
  background-color: var(--clr-primary);
  box-shadow: 0 1.125em 1em -1em var(--clr-accent-500);
}

/* Utility classes */

.container {
  --max-width: 1110px;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

.vertical-align-center {
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}

@media (min-width: 50em) {
  .justify-self-end-md {
    justify-self: end;
  }
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 3em);
}

.text-center {
  text-align: center;
}

.text-center p {
  margin-inline: auto;
}

@media (max-width: 50em) {
  .text-center-sm-only {
    text-align: center;
  }

  .text-center-sm-only p {
    margin-inline: auto;
  }
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}

.padding-block-900 {
  padding-block: var(--size-900);
}
.padding-block-700 {
  padding-block: var(--size-700);
}

.margin-bottom-700 {
  margin-block-end: var(--size-700);
}

.display-sm-none {
  display: none;
}

@media (min-width: 50em) {
  .display-md-inline-flex {
    display: inline-flex;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ebf0f5;
}

.body-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11.625rem;
  padding-top: 1.5rem;
  padding-right: 3rem;
  padding-left: 1rem;
  border-right: 1px solid #ebf0f5;
}

.nav-item {
  width: 12rem;
  height: 3.125rem;
  flex-shrink: 0;
  border-radius: 0rem 6.25rem 6.25rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon {
  margin-right: 0.5rem;
}

.nav-item-text {
  color: #566474;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem; /* 175% */
  letter-spacing: -0.02rem;
}
.nav-item:hover{
  background-color: #cee1fd;
}
.content {
  width: 100%;
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
}

.first {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.subject {
  width: 100%;
  display: flex;
  border: 1px solid #ebf0f5;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
}
.subject-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.subject > div > img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.subject-title {
  color: #222f3e;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.02rem;
}

.subject-description {
  color: var(--secondary-text, #566474);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 1.35rem */
  letter-spacing: -0.015rem;
}

.skill-test {
  color: var(--secondary-text, #566474);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.015rem;
}

.quick {
  width: 100%;
  border: 1px solid #ebf0f5;
  padding: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.5rem;
}

.quick-statistics {
  color: var(--primary-text, #1e272e);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 175% */
  letter-spacing: -0.02rem;
}

.scores {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.statistic {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.statistic-title {
  margin-top: 0.2rem;
  color: #9eaab7;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.015rem;
}

.statistic-value {
  margin-top: 0.5rem;
  color: var(--primary-text, #1e272e);
  font-size: 1.375rem;
  font-style: bold;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.0275rem;
}

.symbol {
  font-size: 1.375rem;
  height: 3rem;
  width: 3rem;
  background-image: url("ellipse.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comparison {
  width: 100%;
  border: 1px solid #ebf0f5;
  padding: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.5rem;
}


.graph_description {
  margin: 2rem 0;
  color: #566474;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 1.3125rem */
  letter-spacing: -0.0175rem;
}

.question
{
  width: 100%;
  border: 1px solid #ebf0f5;
  padding: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.5rem;
  margin:0rem 2rem;  
}
.question-analysis
{
  display: flex;
  justify-content: space-between;
}
.question-analysis-title
{
  color: var(--primary-text, #1e272e);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 175% */
  letter-spacing: -0.02rem;
}

.question-analysis-score
{
  color: #438AF6;

  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.02rem;
}

.question-analysis-description
{
  margin: 1rem 0;
  color: #566474;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 1.3125rem */
  letter-spacing: -0.0175rem;
}

.chart-container {
  position: relative;
  width: 60%;
  margin-left: 4rem;
}

.centered-emoji {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
}
.second{
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap:2rem;
}
.syllabus{
  width: 100%;
  border: 1px solid #ebf0f5;
  padding: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.5rem;
  margin:2.8rem 2rem; 
  margin-bottom: 0rem; 
}
.syllabus-wise-analysis{

  color: var(--primary-text, #1e272e);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 175% */
  letter-spacing: -0.02rem;
}


.info{
  display: flex;
  justify-content: space-between;
}
.color{
  float: right;
}
.topic{
  width: 100%;
  height: 4.2rem;
  border-radius: 0rem 6.25rem 6.25rem 0rem;
  margin: 1rem 0rem ;
  align-items: center;
}
.pink{
  color:#FB5E5E;
  font-style: normal;
  font-size: large;
font-weight: 700;
letter-spacing: -0.32px;
}
.orange{
  color: #FF9142;
font-style: normal;
font-size: large;
font-weight: 700;
letter-spacing: -0.32px;
}
.light-blue{
color: #438AF6;
font-size: large;
font-style: normal;
font-weight: 700;
letter-spacing: -0.32px;
}
.green{
  color: #2EC971;
  font-style: normal;
  font-size: large;
font-weight: 700;
letter-spacing: -0.32px;
}
.loader-blue{
  width: 80%;
  /* align-items: center; */
  /* bottom: 0; */
  height: 100%;
  background-color: #438AF6;
  display: block;
  animation: lineLoaderb ease-out 2s 1;
}
.loader-container-blue{
  width: 12rem;
  height: 4px;
  height: 0.5rem;
  margin-top:10px;
  /* align-items: center; */
  background-color: #c7d6ed;
  overflow: hidden;
  border-radius: 20px;
}
.loader-orange{
  width: 60%;
  height: 100%;
  background-color: #FF9142;
  display: block;
  animation: lineLoaderb ease-out 2s 1;
  /* animation-timing-function: ease; */
}
.loader-container-orange{
  width: 12rem;
  height: 4px;
  height: 0.5rem;
  margin-top:10px;
  background-color: #fae6d8;
  overflow: hidden;
  border-radius: 20px;
}
.loader-pink{
  width: 24%;
  height: 100%;
  background-color: #FB5E5E;
  display: block;
  animation: lineLoaderb ease-out 2s 1;
}
.loader-container-pink{
  width: 12rem;
  height: 4px;
  background-color: #fddbdb;
  height: 0.5rem;
  margin-top:10px;
  overflow: hidden;
  border-radius: 20px;
}
.loader-green{
  width: 96%;
  height: 100%;
  background-color: #2EC971;
  display: block;
  animation: lineLoaderb ease-out 2s 1;
}
.loader-container-green{
width: 12rem;
  height: 4px;
  height: 0.5rem;
  margin-top:10px;
  background-color: #ceffe3;
  overflow: hidden;
  border-radius: 20px;
}
@keyframes lineLoaderb{
  0%{
    width: 0%;
  }
  25%{
      width: 50%;
  }
  50%{
      width: 75%;
  }
  80%{
      width: 80%;
  }
 };
