form{
    max-height:100vh;
}.modal{
    padding:2rem;
    height:100vh;
}
.modal-header{
    display: flex; justify-content: space-between; margin-bottom: 2rem;
}
.Heading{
    font-weight:700;
    font-family:sans-serif;
    font-size:200%;
}
.form-entry{
    margin:4rem 0rem;
}
li{
    width:100%;
    margin:3rem 1rem;
}
.custom-counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .custom-counter li {
    counter-increment: step-counter;
    margin-bottom: 5px;
  }
  .custom-counter li::before {
    content: counter(step-counter);
    margin-right: 20px;
    font-size: 100%;
    background-color:#142683;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 100px;
  } 
  button:hover{
    cursor: pointer;
  }
  input{
    border: 1.6px solid #142683;
    width: 10rem;
    float:right;
    font-weight: bold;
    color: #142683;
    padding: 4px 15px;
    /* border 1.4px solid  */
    border-radius: 6px;
  }
  .modal-buttons{
    margin-top: 50px;
    float:right;
    width:9rem;
  }
  .cancel{
    border:1px solid #142683;color:#142683;padding:6px;border-radius:5px;
    font-weight: 500;
  }
  .submit{
    border:none;padding:6px;border-radius:5px;background-color:#142683;color:white;float:right;
    font-weight: 500;

  }
  b{
    font-weight: bold;
    /* background:#142683; */
  }
  .footer{

    position:relative;
    width: 100%;
    bottom: 0;
  }